.sparrow-console {
    z-index: 99999;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px rgba(0,0,0,0.1) solid;
    overflow: hidden;
}

.sparrow-console-header {
    background-color: #616161;
    border-radius: 8px 8px 0 0;
    padding: 9px;
    font-size: 12px;
    cursor: move;
}

.sparrow-console-header-close-icon {
    cursor: pointer;
}

.sparrow-console-header-title-text {
    color: #EEEEEE;
}

.sparrow-console-body {
    border-radius: 0 0 8px 8px;
    padding: 9px;
    background-color: #424242;
}