.sparrow-console {
    opacity: 0.8;
    z-index: 99999;
    position: absolute;
    height: calc(400px + 2 * var(--sparrow-console-padding) + var(--sparrow-console-header-height));
    width: 605px;
    top: 50px;
    left: 50px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 4px #9E9E9E;
    transition: box-shadow 0.8s ease-out;
    transition: opacity 0.5s ease-out;
}

.sparrow-console:hover {
    opacity: 1.0;
    box-shadow: 0px 0px 10px #9E9E9E;
}

.sparrow-console:focus {
    opacity: 1.0;
    box-shadow: 0px 0px 10px #9E9E9E;
}

.sparrow-console-header {
    background-color: #616161;
    border-radius: 8px 8px 0 0;
    padding: 9px;
    font-size: 12px;
    cursor: move;
}

.sparrow-console-header-close-icon {
    cursor: pointer;
}

.sparrow-console-header-title-text {
    color: #EEEEEE;
}

.sparrow-console-body {
    border-radius: 0 0 8px 8px;
    padding: 9px;
    background-color: #424242;
}

.xterm .xterm-viewport {
    overflow-y: auto !important
}

.xterm-viewport::-webkit-scrollbar {
    width: 0.48rem;
    display: block;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #616161;
}